{% extends "base.html" %}

{% block content %}
<h1>Hello {{current_user.username}}, welcome to:</h1>
<h2>STORIE</h2>
<p>STORIE is a platform where you can share your stories with the world.</p>
<p>Click on the link below to start sharing your stories.</p>
<a href="/create-storie" class="btn btn-primary">CREATE STORIES</a>
<small class="text-muted float-end">
    {% for storie in stories_data %}
    {% if storie.author == current_user.id %}
    <a href="/view-stories/{{ storie.user.username }}">
        My Stories
    </a>
    {% endif %}
    {%endfor%}
</small>


{% for storie in stories_data %}
<div class="card mb-3 ">
    <a href="/view-storie/{{ storie.id }}">
    <a class="" href="/view-storie/{{storie.id}}">
    {%if storie.image == ''%}
    <img src="https://picsum.photos/1280/720" class="card-img-top" alt="...">
    {%else%}
    <img src="{{storie.image}}" class="card-img-top" alt='{{storie.title}}'>
    {%endif%}
    <div class="card-body">
        <h5 class="card-title">{{storie.title}}</h5>
        <p class="card-text"><small class="text-muted"><a href="/storie/{{storie.category}}">{{storie.category}}</a></small></p>
    </div>
    <div class="card-footer">
        <small class="text-muted
        {% if storie.user_id == current_user.id %}
        float-start
        {% endif %}
        ">
        {% if storie.author == current_user.id %}
        <div class="btn-group">
            <button
            type="button"
            data-bs-toggle="dropdown"
            class="btn btn-sm btn-secondary dropdown-toggle"
            ></button>
            <ul class="dropdown-menu">
                <li><a href="/edit-storie/{{storie.id}}" class="btn btn-primary dropdown-item">Edit</a></li>
                <li><a href="/delete-storie/{{storie.id}}" class="btn btn-danger dropdown-item">Delete</a></li>
            </ul>
        </div>
        {%else%}
        <small >By: <a href="/view-stories/{{storie.user.username}}">{{storie.user.username}}</a></small>
        {% endif %}
        {{storie.created_at}}
        </small>
        
        <small class="text-muted float-end">On: {{storie.date_created}}</small>
        </div>
        </a>
</div>

{%endfor%}
{%endblock%}