{% extends "base.html" %}

{% block content %}

<form method="POST" action="{{ url_for('auth.login') }}">
    <h1 align="center">LOGIN</h1>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input type="email" name="inputEmail3" class="form-control" id="inputEmail3" placeholder="Enter Email">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="inputPassword3" class="form-control" id="inputPassword3" placeholder="Enter password">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Keep me logged in
                </label>
            </div>
        </div>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-success">LOGIN</button>
    </div>
    <div align="center">
        <p>Don't have an Account? <span><a class="nav-item nav-link" href="/sign-up">REGISTER</a></span></p>
    </div>
</form>
{% endblock %}
