{%extends "base.html"%}
{%block content%}
<div class="text-left mb-4 mt-4"> 
    <a class=" text-success" href="/"><-GO TO HOMEPAGE</a>
</div>
{% if stories_data %}
    {% if stories_data[0].author == current_user.id %}
        <h1 align="center">Hello {{ stories_data[0].user.username }}, welcome to your stories timeline</h1>
    {% else %}
        <h1 align="center">Hello, welcome to stories by {{ stories_data[0].user.username }}</h1>
    {% endif %}
{% endif %}

{% for storie in stories_data %}

<div class="card mb-3">
    <a href="/view-storie/{{ storie.id }}">
    {%if storie.image == ''%}
    <img src="https://picsum.photos/1280/720" class="card-img-top" alt="...">
    {%else%}
    <img src="{{storie.image}}" class="card-img-top" alt='{{storie.title}}'>
    {%endif%}
    <div class="card-body">
        <h5 class="card-title">{{storie.title}}</h5>
        <p class="card-text"><small class="text-muted"><a href="/storie/{{storie.category}}">{{storie.category}}</a></small></p>
    </div>
    <div class="card-footer">
        <small class="text-muted
        {% if storie.user_id == current_user.id %}
        float-start
        {% endif %}
        ">
        {% if storie.author == current_user.id %}
        <div class="btn-group">
            <button
            type="button"
            data-bs-toggle="dropdown"
            class="btn btn-sm btn-secondary dropdown-toggle"
            ></button>
            <ul class="dropdown-menu">
                <li><a href="/edit-storie/{{storie.id}}" class="btn btn-primary dropdown-item">Edit</a></li>
                <li><a href="/delete-storie/{{storie.id}}" class="btn btn-danger dropdown-item">Delete</a></li>
            </ul>
        </div>
        {%else%}
        <small >By: <a href="/stories/{{storie.username}}">{{storie.user.username}}</a></small>
        {% endif %}
        {{storie.created_at}}
        </small>
        
        <small class="text-muted float-end">On: {{storie.date_created}}</small>
        </div>
    </a>
</div>

{%endfor%}
{%endblock%}